@media (min-width: 600px) and (max-width: 1169px) {
  .header {
    max-width: 100%;
    height: 700px;
    margin: 0 auto;
  }

  .navigation {
    width: 90%;
    height: auto;
    justify-content: space-between;
    padding-top: 35px;
  }
  #logo {
    position: unset;
  }
  .registration {
    position: unset;
    width: 180px;
    height: 40px;
  }
  .login:hover {
    border: 2px solid rgba(255, 255, 255, 1);
  }
  .holidaydream {
    width: 512px;
    font-size: 52px;
    margin-top: 160px;
    margin-bottom: 15px;
  }
  .descrip-dream {
    width: auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
  }
  .but-find {
    width: 225px;;
  }
  .partners {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
  }
  .your-team {
    width: 70%;
    height: 600px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
  }
  .member-team {
    position: relative;
    padding: 10px;
    width: 220px;
  }
  .see-more {
    width: 190px;
    margin: 0 auto;
  }
}
@media (min-width: 1170px) {
  .header {
    width: 100%;
    height: 700px;
  }
  .navigation {
    max-width: 940px;
    height: auto;
    justify-content: space-between;
    padding-top: 35px;
  }
  #logo {
    position: unset;
  }
  .registration {
    position: unset;
    width: 180px;
    height: 40px;
    line-height: 2.5;
  }
  .login:hover {
    border: 2px solid rgba(255, 255, 255, 1);
  }
  .holidaydream {
    width: 505px;
    font-size: 52px;
    margin-top: 160px;
    margin-bottom: 15px;
  }
  .descrip-dream {
    width: auto;
    font-size: 24px;
    text-align: center;
    margin-bottom: 35px;
  }
  .but-find {
    width: 225px;
  }
  .partners {
    min-width: 940px;
    margin: 0 auto;
    padding-bottom: 75px;
  }
  .your-team {
    min-width: 940px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .your-team .item1 {
    order: 4;
  }
  .your-team .item2 {
    order: 2;
  }
  .your-team .item3 {
    order: 3;
  }
  .your-team .item4 {
    order: 1;
  }

  .see-more {
    width: 190px;
    margin: 0 auto;
  }
}
