
header {
    width: 680px;
    margin: auto;
    padding-top: 75px;
}
.main-block, .navigation {
    font-size: 0;
    width: 900px;
    margin: 0 auto;
}

h3,h4 {
    margin: 0;
    margin-top: 30px;
}
.topmenu :hover {
    color: aqua;
}
ul {
    font-size: 0;
}
ul.topmenu li {
    font-family: 'Playfair Display', serif;  
    display: inline;
    margin: 0 auto;
    font-size: 14px;
    text-transform: uppercase;
    
}
ul.topmenu li:not(:last-child) {
    margin-right: 120px;

}
.theme {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    color: #b4ad9e;
}

.sign {
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    font-size: 30px;
    color: #626262;
}


.block {
    display: inline-block;
    width: 420px;
    vertical-align: top;
    margin-right: 55px;
    margin-top: 100px;
}
.block:nth-child(2n) {
    margin-right: 0;
}

p {
    font-family: 'Playfair Display', serif; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 14px;
    line-height: 24px;
    margin-top: 40px;
}

footer {
    text-align: center;
    padding: 60px;
}

.button {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    background-color: transparent;
    line-height: 1.2;
    padding: 1rem 2rem;
    border: 1px solid black;
    
}